@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@theme {
  --font-pretendard: "Pretendard";
}

calendar-date {
  &::part(button) {
    border: none;
    background: none;
  }
}
